<header>
  <div class="logo-container">

    <span>
      <fa-icon [icon]="playIcon"></fa-icon>
    </span>
    <label>MyMuv</label>
  </div>
  <nav>
    <ul>
      <li>
        <span>Home</span>
      </li>
      <li>
        <span>Movies</span>
      </li>
      <li>
        <span>Tv Shows</span>
      </li>
      <li>
        <span>Favourite</span>
      </li>
    </ul>
  </nav>
  <div class="search-container">
    <span>
      <fa-icon [icon]="searchIcon"></fa-icon>
    </span>
  </div>
</header>
