.modal{
  position: fixed;
  top: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  display: grid;
  place-content: center;
}

iframe{
  height: 80vh;
  width: 70vw;
}

@media(max-width: 769px){

  iframe{
    width: 90vw;
    height: 50vh;
  }

}

@media(max-width: 426px){

  iframe{
    width: 90vw;
    height: 30vh;
  }
}
