<section class="movie-carrousel">
  <div class="carrousel">
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
    <div>
      <div class="card">asdas</div>
    </div>
  </div>
</section>
