.movie-carrousel{
  margin-top: 190px;
  justify-self: flex-start;
}

::-webkit-scrollbar{
  height: 2px;
}


.carrousel{
  display: flex;
  overflow-x: scroll;
  padding:  12vh 2vw 9vh 50px;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  transition: .5s ease;
}


.carrousel > div{

  min-width: 390px;
  min-height: 45vh;
  width: 320px;
  height: 440px;
  padding: 0px 20px;
  display: grid;
  transform: translateX(-.2vw);
}

div > div.card{
  background-size: cover;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, .2);
  transition: .3s ease;

}

input[type="radio"]{
  pointer-events: none;
  opacity: 0;
}


input[type="radio"]:checked ~ div{
  transform: scale(1.18);
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, .3);
}

div.card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


div:last-of-type > div.card{
  display: block;
}


.previous-button,.next-button{

  position: absolute;
  height: 60px;
  width: 60px;
  align-self: center;
  z-index: 10;
  font-size: 2rem;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  display: grid;
  place-content: center;
  color: #fff;
  margin: 0 20px;
  transition: .5s ease;
}


.previous-button:hover,.next-button:hover{

  background: rgba(255, 255, 255, .3);
}

.previous-button{
  left: 0;
}
.next-button{
  right: 0;
}


@media(max-width: 769px){
  .previous-button,.next-button{
    display:none
  }
}
