.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

app-movies-carrousel{
  transition: all 1s ease;
}

app-movie-informations{
  /* overflow: hidden; */
  height: auto;
  justify-self: flex-end;
}

