footer{
  background: #fff;
  height:  30vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px 8rem 1rem 6rem;
  box-shadow: -10px -10px 40px rgba(0, 0, 0, .07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -30%;
}


footer > .data-movie-container{

  width: 100%;
  max-width: 40vw;
}

footer > .data-movie-container > *{

  margin: 1.5vh 0;
}

footer > .data-movie-container  h1{

  font-size: 2.5rem;
}

footer > .data-movie-container  p{

  line-height: 30px;
  color: #888;
}

.rating-container span{
  font-size: 1.3rem;
}

.fullyellow{

  color: var(--yellow);
}

.standardStyle{
  color:var(--gray);
  filter: brightness(125%);
}



footer .play-film-container{
  display: flex;
  column-gap: 2vw;
  align-items: center;
  width: auto;
}

footer .play-film-container button{
  background: var(--purple);
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  box-shadow: 0 10px 40px -8px var(--purple);
  font-size: 1.7rem;
  color: #ffffff;
  transition: .5s;
}

footer .play-film-container button:hover{
  background: var(--purple);
  box-shadow: 0 15px 40px -5px var(--purple);
  filter: brightness(105%);
}

button span{
  transform: translateX(2px);
  display: block;
}

footer .play-film-container > span:last-of-type{
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray);
  filter: brightness(50%);
}
