<footer [@showHideFooter]="movie ? 'isShown' : 'isHidden'">

  <div *ngIf="movie" class="data-movie-container">
    <h1>{{ movie.name || "No data" }}</h1>
    <div class="rating-container">
      <span class="fullyellow" *ngFor="let stars of getStarsNumber(5); index as i" [className]="getCustomStyle(i,movie.rating)">
        <fa-icon [icon]="ratingStar"></fa-icon>
      </span>
    </div>
    <p>{{ movie.description }}</p>
  </div>

  <div class="play-film-container">
    <button (click)="playVideo()">
      <span>
        <fa-icon [icon]="playIcon"></fa-icon>
      </span>
    </button>
    <span>Play</span>
  </div>
</footer>
